<!DOCTYPE html>
<html lang="en"  xmlns:th="https://thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
<section class="services">
    <div class="service">
        <h2>Web Development</h2>
        <p>We create robust and dynamic web applications tailored to your specific needs, utilizing the latest technologies and best practices.</p>
    </div>
    <div class="service">
        <h2>Java Development</h2>
        <p>Our Java experts develop scalable and efficient backend solutions to power your applications and services.</p>
    </div>
    <!-- Add more service blocks here -->
</section>
</section>



</body>
</html>